@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Light.ttf');
    src: url('../fonts/Kanit-Medium.ttf') format('woff2'),
         url('../fonts/Kanit-ExtraLight.ttf'),
         url('../fonts/Kanit-ExtraLightItalic.ttf'),
         url('../fonts/Kanit-Black.ttf'),
         url('../fonts/Kanit-LightItalic.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* .kanit {
    font-family: "Kanit", kanit;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  } */