.container {
    max-width: 1179px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    column-gap: 20px;
}
.left-block {
    width: 779px;
    display: flex;
    row-gap: 86px;
    flex-direction: column;
}
.right-block {
    width: 380px;
    display: flex;
    row-gap: 23px;
    flex-direction: column;
}
.left-image {
    width: 100%;
    height: 100%;
}
.left-box {
    height: 400px;
}
.right-image {
    width: 100%;
}
.small-box {
    display: flex;
    align-items: center;
}
.box {
    height: 280px;
    border: 2px solid #000;
}
.text-3 {
    font-family: Kanit;
    font-size: 24px;
    font-weight: 500;
    line-height: 35.88px;  
}
.para {
    font-family: Kanit;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.92px;   
}
.space {
    padding: 10px 0px 0px 20px;
}
.right-side {
    display: flex;   
}
.left-side {
    display: flex;
}
.header-div{
    display: flex;
    max-width: 1440px;
    width:90%;
    margin: 0 auto;
    justify-content:space-between;
    align-items: center;
    height: 50px;
} 
.burger-bar{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 32px;
    height: 32px;
    row-gap: 2px;
}
.bar-line{
    width: 24px;
    height: 3px;
    border-radius: 5px;
    background-color: #000;
}
.logo{
    max-width: 175px;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 14px;
}
.header-logo{
    width: 100%;
}
.logo-t {
    width: 100%;
    padding-left: 10px;
}
.right-header{
    display: flex;
    justify-content: space-between;
}
.ul-el{
    display: flex;
    gap: 6px;
    max-width: 273px;
    width: 100%;
    height: 19px;
}

@media (max-width: 834px) {
    .container {
        flex-direction: column;
        row-gap: 40px;
    }
    .left-block {
        width: 100%;
    }
    .right-block {
        width: 100%;
        flex-direction: row;
        column-gap: 20px;
    }
    .active {
        display: none;
    }
}
@media (max-width: 466px) {
    .navigation {
        display: none;
    }
}
@media (max-width: 375px) {
    .active-small {
        display: none;
    }
    .container {
        width: 100%;
    }
    .right-block {
        width: 90%;
        margin: 0 auto;
    }
    .header-div{
        display: flex;
        gap: 63px;
    }
    .burger-bar{
        display: flex;
    }
    .ul-el{
        display: none;
    }

}
