.container {
    max-width: 1179px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    column-gap: 20px;
}
.left-block {
    width: 779px;
    display: flex;
    row-gap: 86px;
    flex-direction: column;
}
.right-block {
    width: 380px;
    display: flex;
    row-gap: 23px;
    flex-direction: column;
}
.left-image {
    width: 100%;
    height: 100%;
}
.left-box {
    height: 400px;
}
.right-image {
    width: 100%;
}
.small-box {
    display: flex;
    align-items: center;
}
.box {
    height: 280px;
    border: 2px solid #000;
}
.text-3 {
    font-family: Kanit;
    font-size: 24px;
    font-weight: 500;
    line-height: 35.88px;  
}
.bg-image {
    background-image: url('../images/Rectangle1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bg-section {
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0 auto;
}
.left-bg-text {
    width: 576px;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.right-bg-text {
    max-width: 440px;
    width: 100%;
    height: 404px;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff; 
    margin: 0 auto; 
}
.right-bg-top {
    display: flex;
    justify-content: space-between;  
    margin: 20px;
    align-items: center;  
}
.arrow-image {
    margin-left: 60px;
}
.arrow-space {
    margin-right: 20px
}
.news {
    top: 217px;
    left: 910px;
    font-family: Kanit;
    font-size: 20px;
    font-weight: 500;
    line-height: 29.9px;
    color: #FA793C;
    margin-left: 20px;
}
.text-4 {
    font-family: Kanit;
    font-size: 30px;
    font-weight: 600;
    line-height: 44.85px;
}
.text-2 {
    /* top: 151px;
    left: 144px; */
    font-family: Kanit;
    font-size: 50px;
    font-weight: 400;
    line-height: 74.75px;
    color: #fff;
}
.text-p {
    color: #fff;
    top: 247px;
    left: 162px;
    margin-left: 20px;
}
.para {
    font-family: Kanit;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.92px; 
}
.text {
    margin-left: 20px;
    color: #000;
}
.space {
    padding: 10px 0px 0px 20px;
}
.right-side {
    display: flex;   
}
.left-side {
    display: flex;
}
.header-div{
    display: flex;
    max-width: 1440px;
    width:90%;
    margin: 0 auto;
    justify-content:space-between;
    align-items: center;
    height: 50px;
} 
.burger-bar{
    display: none;
}
.logo{
    max-width: 175px;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 14px;
}
.header-logo{
    width: 100%;
}
.logo-t {
    width: 100%;
    padding-left: 10px;
}
.right-header{
    display: flex;
    justify-content: space-between;
}
.ul-el{
    display: flex;
    margin-right: 30px;
    gap: 10px;
    max-width: 273px;
    width: 100%;
    height: 19px;
}
.discovery-wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 100px;
}
.discovery {
    max-width: 380px;
    width: 90%;
    border: 1px solid #000;
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.text-disc {
    font-size: 24px;
    font-weight: 400;
}
.disc-text {
    margin: 20px 50px 20px 40px;
    font-weight: 900;
}
@media (max-width: 834px) {
    .container {
        flex-direction: column;
        row-gap: 40px;
    }
    .left-block {
        width: 100%;
    }
    .right-block {
        width: 100%;
        flex-direction: row;
        column-gap: 20px;
    }
    .active {
        display: none;
    }
    .right-bg-text {
        display:  none;
    }
    .third {
        display: none;
    }
}
@media (max-width: 799px) {
    .third {
        display: none;
    }
    . {
        display: none;
    }
}
@media (max-width: 505px) {
    .navigation {
        display: none;
    }
}
@media (max-width: 398px) {
    .text-2 {
        text-align: center;
        font-size: 40px;
    }
    .text-p {
        font-size: 12px;
    }
}
@media (max-width: 375px) {
    .active-small {
        display: none;
    }
    .container {
        width: 100%;
    }
    .right-block {
        width: 90%;
        margin: 0 auto;
    }
    .header-div{
        display: flex;
    }
    .burger-bar{
        display: block;
    }
    .user-logo {
        order: 3;
    }
    .ul-el{
        display: none;
    }
    .third {
        display: none;
    }
    .discovery-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 20px;
    }

}
